doctype html
html
  head
    include styles/normalize.css
    include styles/skeleton.css
    include styles/style.css

    include scripts/script.js
  body
  
    section.hero.u-full-width
            .hero-image
            .container.centered
                .twelve.columns
                    h1 Linkbait
                h2 A slackbot with super powers
            a.scroll-down.icon-arrow-left
            
    section.u-full-width
            .container
                .row
                    .twelve.columns
                        h3 Supercharge your slack experience
                        h4 Linkbait is an extensible slackbot that comes packed with a bunch of stuff that helps make your team more productive.

    section.u-full-width
        .container
            .row
                ul.services
                    li.four.columns
                        svg.service-icon(fill='#000000', height='64', viewbox='0 0 24 24', width='64', xmlns='http://www.w3.org/2000/svg')
                            path(d='M0 0h24v24H0z', fill='none')
                            path(d='M20.5 11H19V7c0-1.1-.9-2-2-2h-4V3.5C13 2.12 11.88 1 10.5 1S8 2.12 8 3.5V5H4c-1.1 0-1.99.9-1.99 2v3.8H3.5c1.49 0 2.7 1.21 2.7 2.7s-1.21 2.7-2.7 2.7H2V20c0 1.1.9 2 2 2h3.8v-1.5c0-1.49 1.21-2.7 2.7-2.7 1.49 0 2.7 1.21 2.7 2.7V22H17c1.1 0 2-.9 2-2v-4h1.5c1.38 0 2.5-1.12 2.5-2.5S21.88 11 20.5 11z')

                        h3 Extensible
                        h4 Linkbait is designed to work with your team.
                    li.four.columns
                        svg.service-icon(fill='#000000', height='64', viewbox='0 0 24 24', width='64', xmlns='http://www.w3.org/2000/svg')
                            path(d='M-74 29h48v48h-48V29z', fill='none')
                            path(d='M22 9V7h-2V5c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-2h2v-2h-2v-2h2v-2h-2V9h2zm-4 10H4V5h14v14zM6 13h5v4H6zm6-6h4v3h-4zM6 7h5v5H6zm6 4h4v6h-4z')
                            path(d='M0 0h24v24H0zm0 0h24v24H0z', fill='none')
                        h3 Packed with goodies
                        h4 Catalog and vote on links. Hand out tacos to team members, or ask a question. Linkbait is ready to help
                    li.four.columns
                        svg.service-icon(fill='#000000', height='64', viewbox='0 0 24 24', width='64', xmlns='http://www.w3.org/2000/svg')
                            path(d='M0 0h24v24H0z', fill='none')
                            path(d='M12 17c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm6-9h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6h1.9c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm0 12H6V10h12v10z')
                        
                        h3 Open source
                        h4 Want to peak under the hood? Linkbait is open source.

    section.footer.u-full-width                 
        .container
            .row
                .section
                    p Created with ♥ by Nish Tahir, 2016
